@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px solid black;
};

a img {


    width: 50px;
}

.container {

    margin-top: 5%;
    width: 90%;
    min-height: 500px;
    height: auto;
    border: 1px solid black;
}

.container-login {
    
    width: 100%;
    color: white;
    height: auto;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #77BA99;
}

#form-login {

    width: 50%;
    border-radius: 10px;
    height: auto;
    padding: 20px;
    background-color: rgb(25,50,60,0.8);
}

#form {

    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-rows: 1fr;
    justify-items: center;
}

h1 {

    font-size: 40px;
    color: #19323C;
    margin-bottom: 7%;
    text-transform: uppercase;
}

.title {

    color: white;
}

h2 {

    text-transform: uppercase;
    font: bold;
}

label,
input,
select,
textarea {

    border-radius: 7px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 40px;
}

label {
    
    font-size: 20px;
    margin-top: 10px;
}

input {

    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
    padding: 3px;
}


input[type="submit"] {

    margin-top: 20px;
    height: 40px;
}

input[type="submit"]:hover {

    animation-duration: 2s;
    animation-name: hover;
    animation-iteration-count: infinite;
}

@keyframes hover {

    0% {

        color: black;
        background-color: white;
    }

    50% {

        background-color: #F2E863;
        color: #19323C;
    }

    100% {

        color: black;
        background-color: white;
    }
}

textarea {

    height: 100px;
}

/* spacing */

table {

    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid red;
}
   
th,
td {

    padding: 20px;
    text-align: center;
}
  