* {
    margin: 0 auto;
    padding: 0 auto;
}

.header {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px solid black;
};



a img {


    width: 50px;
}

.container {

    margin-top: 5%;
    width: 90%;
    min-height: 500px;
    height: auto;
    border: 1px solid black;
}

#form {

    display: grid;
    justify-content: center;
    width: 80%;
    grid-template-rows: 1fr;
    justify-items: center;
}

h2 {

    text-transform: uppercases;
    font: bold;
}

label,
input,
select,
textarea {

    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 30px;
}

label {
    
    margin-top: 10px;
}


input[type="submit"] {

    margin: 20px;

}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0px 3px 3px 3px solid red;
}

table :first-child {
    border: 3px 3px 0px 3px solid red;
}
   
th,
td {
    padding: 20px;
    text-align: center;
}
  